<section data-ng-controller="PusersController">
	<form class="form-horizontal" data-ng-submit="create()" autocomplete="off">
		<fieldset>
			<div id="legend" class="">
	        	<legend class="">Add User</legend>
	      	</div>
			<div class="control-group">
				<label class="control-label" for="account">Account</label>
				<div class="controls">
					<input type="text" data-ng-model="account" id="account" placeholder="Account for login" class="input-xlarge" required>
					<p class="hlp-block"></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" data-ng-model="password" id="password" cols="30" rows="10" required></input>
					<p class="hlp-block"></p>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="username">User Name</label>
				<div class="controls">
					<input type="text" data-ng-model="username" id="username" placeholder="User Name" class="input-xlarge">
					<p class="hlp-block"></p>
				</div>
			</div>
<!--		
		<div class="control-group">
			<label class="control-label" for="cpassword">Confirm your password</label>
			<div class="controls">
				<input type="password" data-ng-model="cpassword" id="cpassword" cols="30" rows="10"></input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" data-ng-model="email" id="email" cols="30" rows="10" required></input>
			</div>
		</div>
-->		
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
		</fieldset>
	</form>
</section>