<section data-ng-init="show()">
<!--
<section data-ng-controller="UserController" data-ng-init="show()">

	<ul class="articles unstyled">
		<li data-ng-repeat="puser in pusers">
			<span>{{puser.updatedAt | date:'medium'}}</span>
			<h2>{{puser.account}}</h2>
			<div>{{puser.email}}</div>
		</li>
	</ul>

	<h1 data-ng-hide="!pusers || pusers.length">No pusers yet. <br> Why don't you <a href="/#!/pusers/create">Create One</a>?</h1>

    <div><a href="/#!/pusers/create">Add</a></div>
-->
	<div>test!!</div>
	<div class="gridStyle" ng-grid="gridOptions">
	</div>
</section>