<div class="row clearfix">
	<div class="col-md-1 column">
	</div>
	<div class="col-md-8 column">

		<form name='ruleForm' class="form-horizontal" role="form" novalidate>
        	<div class="form-group">
	        	<label for="ssid" class="col-sm-3 control-label">SSID:</label>
	        	<div class="col-sm-9">
	            	<input id="ssid" type="text" class="form-control" ng-model="rule.ssid" name="uSsid" />
	            </div>
            </div>
            
            <div class="form-group">
	            <label for="nasid" class="col-sm-3 control-label">Nasid:</label>
	            <div class="col-sm-9">
	        		<input id="nasid" type="text" class="form-control" ng-model="rule.nasid" name="uNasid" />
	        	</div>
	        	
        	</div>
        	
        	<div class="form-group">
	        	<label for="devtype" class="col-sm-3 control-label">Device Type:</label>
	        	<div class="col-sm-9">
	        		<input id="devtype" type="text" class="form-control" ng-model="rule.devtype" name="uDevtype"/>
	        	</div>
        	</div>
        	
        	<div class="form-group">
	        	<label for="os" class="col-sm-3 control-label">Operating System:</label>
	        	<div class="col-sm-9">
	        		<input id="os" type="text" class="form-control" ng-model="rule.os" name="uOs" />
	        	</div>
	        	
        	</div>
        	
        	<div class="form-group">
	        	<label for="url" class="col-sm-3 control-label">Url:</label>
	        	<div class="col-sm-9">
	        		<input id="url" type="text" class="form-control" ng-model="rule.url" name="uUrl" required/>
	        	</div>
	        	
        	</div>
        	<!-- 
        	<div class="form-group has-feedback" ng-class="{'has-error':nasForm.uServer.$error.ipaddres}">
	        	<label for="server" class="col-sm-3 control-label">Server:</label>
	        	<div class="col-sm-9">
	        		<input id="server" type="text" class="form-control" ng-model="nas.server" name="uServer" ipaddres required/>
	        		<span ng-show="nasForm.uServer.$error.ipaddres" class="glyphicon glyphicon-remove form-control-feedback"></span>
	        	</div>
        	</div>
        	
        	<div class="form-group">
	        	<label for="type" class="col-sm-3 control-label">Nas type:</label>
	        	<div class="col-sm-9">
	        		<input id="type" type="text" class="form-control" ng-model="nas.type" />
	        	</div>
        	</div>
        	 -->
        	<div class="form-group">
        		<div class="col-sm-9">
        		</div>
        		<div class="col-sm-3 control-label">
            		<button class="btn btn-primary" ng-click="save()" ng-disabled="ruleForm.$invalid">Save</button>
            		<a href="#/system/redirrule" class="btn btn-primary">Cancel</a>
            	</div>
        	</div>
        
        </form>
	<div class="col-md-3 column">
	</div>
</div>       
        