<div class="row clearfix">
	<div class="col-md-1 column">
	</div>
	<div class="col-md-10 column">

	<div class="input-group">
    		<div class="input-group-btn" dropdown>
       		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Search By <span class="caret"></span></button>
       		<button type="button" class="btn btn-primary" ng-show="searchby.length > 0" disabled>{{searchby}}</button>
       		<ul class="dropdown-menu" role="menu">
         			<li><a href="javascript:void(0);" ng-click="searchby = 'ssid';key='';pageChanged()">ssid</a></li>
         			<li><a href="javascript:void(0);" ng-click="searchby = 'nasid';key='';pageChanged()">nasid</a></li>
         			<li><a href="javascript:void(0);" ng-click="searchby = 'devtype';key='';pageChanged()">devtype</a></li>
         			<li><a href="javascript:void(0);" ng-click="searchby = 'os';key='';pageChanged()">os</a></li>
       		</ul>
     		</div><!-- /btn-group -->
     		<input type="text" class="form-control" ng-model="key" ng-change="pageChanged()" />
     		<div class="input-group-btn">
     			<!-- 
     			<button type="button" class="btn btn-primary" ng-click="page.size = 10;page.number=1;pageChanged()">10</button>
     			<button type="button" class="btn btn-primary" ng-click="page.size = 20;page.number=1;pageChanged()">20</button>
     			<button type="button" class="btn btn-primary" ng-click="page.size = 40;page.number=1;pageChanged()">40</button>
     			 -->
     			<a class="btn btn-primary" href="#/system/redirrule/new">New <span class="glyphicon glyphicon-plus"></span></a>
     		</div>
   	</div><!-- /input-group -->    	
	
	<table class="table table-striped table-hover">
        <thead>
        <tr>
          <th></th>
          <th>ssid</th>
          <th>nasid</th>
          <th>type</th>
          <th>os</th>
          <th>url</th>
          <th></th>
        </tr>
        </thead>
        
        <tbody>
        <tr ng-repeat="rule in rulelist | orderBy:id:reverse">
          <td>{{rule.id}}</td>
          <td title='{{rule.ssid}}'>{{rule.ssid | shortcut}}</td>
          <td title='{{rule.nasid}}'>{{rule.nasid | shortcut}}</td>
          <td title='{{rule.devtype}}'>{{rule.devtype | shortcut}}</td>
          <td title='{{rule.os}}'>{{rule.os | shortcut}}</td>
          <td title='{{rule.url}}'>{{rule.url | shortcut:80}}</td>
          <td>
            <a href="#/system/redirrule/edit/{{rule.id}}" title='edit'><span class="glyphicon glyphicon-edit"></span></a>
            <a href=" javascript:void(0);" ng-click="destroy(rule)"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        	<tr><td colspan=8 align='right'>
        	<pagination total-items="page.totalElements" ng-model="page.number" max-size="6" class="pagination-sm" 
        		boundary-links="true" rotate="false" num-pages="page.totalPages" items-per-page="page.size" ng-change="pageChanged()"></pagination>
        	</td></tr>
        </tfoot>
      </table>
	
	<div class="col-md-1 column">
	</div>
</div>
