<div class="row clearfix">
	<div class="col-md-1 column">
	</div>
	<div class="col-md-10 column">

	<div class="input-group">
    		<div class="input-group-btn" dropdown>
       		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Search By <span class="caret"></span></button>
       		<button type="button" class="btn btn-primary" ng-show="searchby.length > 0" disabled>{{searchby}}</button>
       		<ul class="dropdown-menu" role="menu">
         			<li><a href="javascript:void(0);" ng-click="searchby = 'nasname';key='';pageChanged()">nasname</a></li>
         			<li><a href="javascript:void(0);" ng-click="searchby = 'server';key='';pageChanged()">server</a></li>
         			<li><a href="javascript:void(0);" ng-click="searchby = 'type';key='';pageChanged()">type</a></li>
       		</ul>
     		</div><!-- /btn-group -->
     		<input type="text" class="form-control" ng-model="key" ng-change="pageChanged()" />
     		<div class="input-group-btn">
     			<!-- 
     			<button type="button" class="btn btn-primary" ng-click="page.size = 10;page.number=1;pageChanged()">10</button>
     			<button type="button" class="btn btn-primary" ng-click="page.size = 20;page.number=1;pageChanged()">20</button>
     			<button type="button" class="btn btn-primary" ng-click="page.size = 40;page.number=1;pageChanged()">40</button>
     			 -->
     			<a class="btn btn-primary" href="#/system/nas/new">New <span class="glyphicon glyphicon-plus"></span></a>
     		</div>
   	</div><!-- /input-group -->    	
	
	<table class="table table-striped table-hover">
        <thead>
        <tr>
          <th></th>
          <th>nasname</th>
          <th>description</th>
          <th>shortname</th>
          <th>server</th>
          <th>ports</th>
          <th>secret</th>
          <th>type</th>
          <th></th>
        </tr>
        </thead>
        
        <tbody>
        <tr ng-repeat="nas in naslist | orderBy:id:reverse">
          <td>{{nas.id}}</td>
          <td title='{{nas.nasname}}'>{{nas.nasname | shortcut}}</td>
          <td title='{{nas.description}}'>{{nas.description | shortcut}}</td>
          <td title='{{nas.shortname}}'>{{nas.shortname | shortcut}}</td>
          <td title='{{nas.server}}'>{{nas.server | shortcut}}</td>
          <td title='{{nas.server}}'>{{nas.ports | shortcut}}</td>
          <td title='{{nas.secret}}'>{{nas.secret | shortcut}}</td>
          <td title='{{nas.type}}'>{{nas.type | shortcut}}</td>
          <td>
            <a href="#/system/nas/edit/{{nas.id}}" title='edit'><span class="glyphicon glyphicon-edit"></span></a>
            <a href=" javascript:void(0);" ng-click="destroy(nas)"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        	<tr><td colspan=8 align='right'>
        	<pagination total-items="page.totalElements" ng-model="page.number" max-size="6" class="pagination-sm" 
        		boundary-links="true" rotate="false" num-pages="page.totalPages" items-per-page="page.size" ng-change="pageChanged()"></pagination>
        	</td></tr>
        </tfoot>
      </table>
	
	<div class="col-md-1 column">
	</div>
</div>
