<div class="row clearfix">
	<div class="col-md-1 column">
	</div>
	<div class="col-md-8 column">

		<form name='nasForm' class="form-horizontal" role="form" novalidate>
        	<div class="form-group">
	        	<label for="nasname" class="col-sm-3 control-label">Nas name:</label>
	        	<div class="col-sm-9">
	            	<input id="nasname" type="text" class="form-control" ng-model="nas.nasname" name="uNasName" required/>
	            </div>
            </div>
            
            <div class="form-group">
	            <label for="shortname" class="col-sm-3 control-label">Short name:</label>
	            <div class="col-sm-9">
	        		<input id="shortname" type="text" class="form-control" ng-model="nas.shortname" name="uShortName" />
	        	</div>
	        	
        	</div>
        	
        	<div class="form-group">
	        	<label for="description" class="col-sm-3 control-label">Description:</label>
	        	<div class="col-sm-9">
	        		<input id="description" type="text" class="form-control" ng-model="nas.description" />
	        	</div>
        	</div>
        	
        	<div class="form-group">
	        	<label for="ports" class="col-sm-3 control-label">ports:</label>
	        	<div class="col-sm-9">
	        		<input id="ports" type="text" class="form-control" ng-model="nas.ports" name="uPorts" />
	        	</div>
	        	
        	</div>
        	
        	<div class="form-group">
	        	<label for="secret" class="col-sm-3 control-label">Secret:</label>
	        	<div class="col-sm-9">
	        		<input id="secret" type="text" class="form-control" ng-model="nas.secret" name="uSecret" required/>
	        	</div>
	        	
        	</div>
        	
        	<div class="form-group has-feedback" ng-class="{'has-error':nasForm.uServer.$error.ipaddres}">
	        	<label for="server" class="col-sm-3 control-label">Server:</label>
	        	<div class="col-sm-9">
	        		<input id="server" type="text" class="form-control" ng-model="nas.server" name="uServer" ipaddres required/>
	        		<span ng-show="nasForm.uServer.$error.ipaddres" class="glyphicon glyphicon-remove form-control-feedback"></span>
	        	</div>
        	</div>
        	
        	<div class="form-group">
	        	<label for="type" class="col-sm-3 control-label">Nas type:</label>
	        	<div class="col-sm-9">
	        		<input id="type" type="text" class="form-control" ng-model="nas.type" />
	        	</div>
        	</div>
        	<div class="form-group">
        		<div class="col-sm-9">
        		</div>
        		<div class="col-sm-3 control-label">
            		<button class="btn btn-primary" ng-click="save()" ng-disabled="nasForm.$invalid">Save</button>
            		<a href="#/system/nas" class="btn btn-primary">Cancel</a>
            	</div>
        	</div>
        
        </form>
	<div class="col-md-3 column">
	</div>
</div>       
        